.post-header {
    display: none;
}
.post-body {
    /* use medium font size no matter what screen resolution is */
    font-size: $font-size-medium !important;
    /* default is 2 in hexo-theme-next */
    line-height: 1.5;
}
