# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: SymbioticLab
subtitle: 'University of Michigan'
description: ''
keywords:
author:
language: en
timezone: 'America/Detroit'

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: https://symbioticlab.org
root: /
permalink: :year/:month/:day/:title/
permalink_defaults:
pretty_urls:
  trailing_index: true # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: true # Set to false to remove trailing '.html' from permalinks

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: true
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## Use post's date for updated date unless set in front-matter
updated_option: date

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Deployment
## Docs: https://hexo.io/docs/deployment.html
deploy:
  type: git
  repo: git@github.com:SymbioticLab/SymbioticLab.github.io.git
  branch: master

# config of hexo-renderer-markdown-it
markdown:
  render:
    html: true
    xhtmlOut: true
    breaks: false
    linkify: true
    typographer: true
    quotes: '“”‘’'
  plugins:
    - "@iktakahiro/markdown-it-katex"
    - markdown-it-abbr
    - markdown-it-footnote
    - markdown-it-ins
    - markdown-it-sub
    - markdown-it-sup
  anchors:
    # Minimum level for ID creation. (Ex. h2 to h6)
    level: 2
    # A suffix that is prepended to the number given if the ID is repeated.
    collisionSuffix: ''
    # If `true`, creates an anchor tag with a permalink besides the heading.
    permalink: true
    # Class used for the permalink anchor tag.
    permalinkClass: headerlink
    # Set to 'right' to add permalink after heading
    permalinkSide: 'right'
    # The symbol used to make the permalink
    permalinkSymbol: ''
    # Transform anchor to (1) lower case; (2) upper case
    case: 1
    # Replace space with a character
    separator: '-'

publist:
  # entries within the last `new_months` will be marked new
  new_month: 3
  # force error on invalid bib file
  strict: true

# ---------------------------------------------------------------
# Theme Configuration Settings
# See: https://theme-next.org/docs/theme-settings/
# ---------------------------------------------------------------
theme_plus:
  custom_path: 'custom/layouts'
theme: next
theme_config:
  custom_file_path:
    style: custom/styles.styl
    variable: custom/variables.styl

  # Remove unnecessary files after hexo generate.
  minify: true

  # Site Information Settings
  # See: https://theme-next.org/docs/getting-started/
  favicon:
    small: /assets/favicon/favicon-16x16.png
    medium: /assets/favicon/favicon-32x32.png
    apple_touch_icon: /assets/favicon/apple-touch-icon.png
    safari_pinned_tab: /assets/favicon/safari-pinned-tab.svg
    android_manifest: /assets/favicon/site.webmanifest
    ms_browserconfig: /assets/favicon/browserconfig.xml

  footer:
    # Specify the date when the site was setup. If not defined, current year will be used.
    since: 2016

    # Icon between year and copyright info.
    icon:
      # Icon name in Font Awesome. See: https://fontawesome.com/icons
      name: fa fa-heart
      # If you want to animate the icon, set it to true.
      animated: false
      # Change the color of icon, using Hex Code.
      color: "#ff0000"

    # If not defined, `author` from Hexo `_config.yml` will be used.
    copyright: SymbioticLab

    # Powered by Hexo & NexT
    powered: true

  # Creative Commons 4.0 International License.
  # See: https://creativecommons.org/share-your-work/licensing-types-examples
  # Available values of license: by | by-nc | by-nc-nd | by-nc-sa | by-nd | by-sa | zero
  # You can set a language value if you prefer a translated version of CC license, e.g. deed.zh
  # CC licenses are available in 39 languages, you can find the specific and correct abbreviation you need on https://creativecommons.org
  creative_commons:
    license: by-nc-sa
    sidebar: false
    post: true


  # ---------------------------------------------------------------
  # Scheme Settings
  # ---------------------------------------------------------------

  # Schemes
  #scheme: Muse
  scheme: Mist
  #scheme: Pisces
  #scheme: Gemini

  # Dark Mode
  darkmode: false


  # ---------------------------------------------------------------
  # Menu Settings
  # ---------------------------------------------------------------

  # Usage: `Key: /link/ || icon`
  # Key is the name of menu item. If the translation for this item is available, the translated text will be loaded, otherwise the Key name will be used. Key is case-senstive.
  # Value before `||` delimiter is the target link, value after `||` delimiter is the name of Font Awesome icon.
  # When running the site in a subdirectory (e.g. yoursite.com/blog), remove the leading slash from link value (/archives -> archives).
  # External url should start with http:// or https://
  menu:
    # home: / || fa fa-home
    # Blog: /blog || fa fa-home
    Research: /research || fa fa-code
    Publications: /publications || fa fa-book
    People: /people || fa fa-user
    Funding: /funding || fa fa-info
    #tags: /tags/ || fa fa-tags
    GitHub: https://github.com/SymbioticLab || fab fa-github-alt
    # Wiki: https://symbiotic.eecs.umich.edu/wiki || fab fa-wikipedia-w
    # Join us: https://forms.gle/L3Syau9dBzi8eLxQ7 || fa fa-user-plus
    Collaboration: https://docs.google.com/document/d/1mVPqfnqLz_CXVz8XyDLcB1BIlUyezY2A-t5mV33JZHw/edit#heading=h.373gy04j3jae || fa fa-user-plus

  # Enable / Disable menu icons / item badges.
  menu_settings:
    icons: true
    badges: false

  # ---------------------------------------------------------------
  # Sidebar Settings
  # See: https://theme-next.org/docs/theme-settings/sidebar
  # ---------------------------------------------------------------
  sidebar:
    display: remove
    position: right

  # ---------------------------------------------------------------
  # Post Settings
  # See: https://theme-next.js.org/docs/theme-settings/posts
  # ---------------------------------------------------------------
  # Show previous post and next post in post footer if exists
  # Available values: left | right | false
  post_navigation: right

  # ---------------------------------------------------------------
  # Misc Theme Settings
  # See: https://theme-next.js.org/docs/theme-settings/
  # ---------------------------------------------------------------

  # Android Chrome header panel color ($brand-bg / $headband-bg => $black-deep).
  android_chrome_color: "#fe6600"

  # Custom Logo (Do not support scheme Mist natively, we use custom header to workaround this)
  custom_logo: /assets/logo.svg

  codeblock:
    # Code Highlight theme
    # All available themes: https://theme-next.js.org/highlight/
    theme:
      light: default
      dark: tomorrow-night
    prism:
      light: prism
      dark: prism-dark
    # Add copy button on codeblock
    copy_button:
      enable: true
      # Available values: default | flat | mac
      style:

  back2top:
    enable: true
    # Back to top in sidebar.
    sidebar: false
    # Scroll percent label in b2t button.
    scrollpercent: true

  # Preconnect CDN for fonts and plugins.
  # For more information: https://www.w3.org/TR/resource-hints/#preconnect
  preconnect: true

  # ---------------------------------------------------------------
  # Animation Settings
  # ---------------------------------------------------------------

  # Use Animate.css to animate everything.
  # For more information: https://animate.style
  motion:
    enable: false
    async: true
    transition:
      # All available transition variants: https://theme-next.js.org/animate/
      post_block: fadeIn
      post_header: fadeInDown
      post_body: fadeInDown
      coll_header: fadeInLeft
      # Only for Pisces | Gemini.
      sidebar: fadeInUp

  # Easily enable fast Ajax navigation on your website.
  # For more information: https://github.com/next-theme/pjax
  pjax: true

  # Automatically monitor your Ajax requests, event loop lag, document ready state and elements on
  # your page to decide on the progress.
  nprogress:
    enable: true

  # ---------------------------------------------------------------
  # Math Formulas Render Support
  # ---------------------------------------------------------------
  math:
    # Default (true) will load mathjax / katex script on demand.
    # That is it only render those page which has `mathjax: true` in Front-matter.
    # If you set it to false, it will load mathjax / katex srcipt EVERY PAGE.
    per_page: true

    mathjax:
      enable: false

    katex:
      enable: true
      # See: https://github.com/KaTeX/KaTeX/tree/master/contrib/copy-tex
      copy_tex: false
