{% extends '_layout.njk' %}
{% import '_macro/sidebar.njk' as sidebar_template with context %}
{% import '_macro/post-collapse.njk' as post_template with context %}

{% block title %}{{ title }}{%- if theme.index_with_subtitle and subtitle %} - {{ subtitle }}{%- endif %}{% endblock %}

{% block class %}archive posts-collapse{% endblock %}

{% block content %}
  <div class="post-block">
    <div class="post-body">
      {{ page.content }}

      <div class="post-content">
        {{ post_template.render(page.posts) }}
      </div>
    </div>
  </div>

  {%- include '_partials/pagination.njk' -%}
{% endblock %}

{% block sidebar %}
  {{ sidebar_template.render(false) }}
{% endblock %}
