{% extends '_layout.njk' %}
{% import '_macro/sidebar.njk' as sidebar_template with context %}

{% block title %}{{ page.title }}{% endblock %}

{% block class %}archive posts-collapse{% endblock %}

{% block content %}

<style>
  .card-container, .project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  .project {
    width: 48%; /* Full width for each project */
    padding: 15px;
    padding-top: 4px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .project:hover {
    cursor: pointer;
    border-color: #bbb;
  }
  .project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .logo-container {
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Right align the logo */
    flex-shrink: 0; /* Prevent logo container from shrinking */
    margin-left: 10px; /* Add some space between text and logo */
  }
  .project-logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .project-info {
    flex-grow: 1;
    overflow: hidden; /* Prevent text from overflowing */
  }
  .project-name {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .project-description {
    font-size: 14px;
  }
  .project-details {
    display: flex;
    justify-content: flex-start;
    gap: 20px; /* Add space between details */
    font-size: 12px;
    color: #666;
  }
  @media (max-width: 400px) {
    .project-details {
      gap: 10px;
    }
  }
  /* Fixed widths for consistent vertical alignment */
  .project-details .language {
    width: 50px; /* Fixed width for language */
  }
  .project-details .stars {
    width: 30px; /* Fixed width for stars and forks */
  }
  .project-details .forks {
    width: 30px; /* Fixed width for stars and forks */
    justify-content: flex-start;
  }
  .project-details span {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
  }
  /* Only change the styles for the fork count text */
  .project-details .forks span {
    justify-content: flex-start; /* Left-align the text */
    padding-left: 2px; /* Add a bit of padding */
  }
  .project-details .forks span span {
    text-align: left;
  }
  .project-details i {
    color: #333;
    width: 12px; /* Fixed width for icons */
    text-align: center; /* Center the icon */
  }
  @media (max-width: 800px) {
    .project {
      width: calc(100% - 20px); /* Full width on smaller screens */
      margin: 0 auto;
    }
    /* Remove fixed widths on smaller screens for flexibility */
    .project-details .language,
    .project-details .stars,
    .project-details .forks {
      width: auto;
    }
  }
</style>

<h1>Open Source Projects</h1>
<div class="intro">
  <p>{{ page.content }}</p>
</div>

{% for section in page.sections %}
  <section class="github-section">
    <h3>{{ section.title }}</h3>
    {% if section.description %}
      <p>{{ section.description }}</p>
    {% endif %}
    <div class="project-container">
      {% for item in section.items %}
        <a href="{{ item.url or item.github_url }}" class="project" data-repo="{{ item.github_url }}">
          <div class="project-header">
            <div class="project-info">
              <div class="project-name">{{ item.name }}</div>
              {% if item.github_url %}
                <div class="project-details">
                  <!-- Fixed width for consistent alignment, using FontAwesome icons -->
                  <span class="language"><i class="fas fa-code"></i> <span id="{{ item.name | lower | replace(' ', '-') }}-language">...</span></span>
                  <span class="stars"><i class="far fa-star"></i> <span id="{{ item.name | lower | replace(' ', '-') }}-stars">...</span></span>
                  <span class="forks"><i class="fas fa-code-branch"></i> <span id="{{ item.name | lower | replace(' ', '-') }}-forks">...</span></span>
                </div>
              {% endif %}
            </div>
            {% if item.logo %}
              <div class="logo-container">
                <img src="{{ item.logo }}" alt="{{ item.name }} logo" class="project-logo">
              </div>
            {% endif %}
          </div>
          <div class="project-description">{{ item.description }}</div>
        </a>
      {% endfor %}
    </div>
  </section>
{% endfor %}

{% endblock %}
