/* Clear some padding and margin on the page */
.post-header .post-meta {
    display: none;
}
.posts-expand {
    padding-top: 0px !important;
}

.pub-list {
    line-height: 1.5;
}

.pub-list section.year {
    position: relative;

    padding: 1em 0em 0em 0em;
    margin-left: 3.5em;

    /* Place the .year-mark-wrapper and ul at the same vertical point from the top edge */
    display: flex;
    align-items: flex-start;
}

/* The vertical line */
.pub-list section.year ul li {
    position: relative;
}
.pub-list section.year ul li::before {
    content: ' ';

    background: rgba(.3, .3, .3, .3);
    z-index: -1;

    position: absolute;
    left: calc(-2em + -2px);
    width: 2px;
    top: -1px;
    bottom: 0px;
}
.pub-list section.year ul li:first-child::before {
    top: calc(-1em + -1px);
}
.pub-list section.year:last-child ul li:last-child::before {
    background: linear-gradient(to bottom, rgba(.3, .3, .3, .3) 60%, rgba(.3, .3, .3, 0));
}

/* The circle and year */
.pub-list .year-mark-wrapper {
    /* Align .year-mark center within the height of a line */
    display: flex;
    align-items: center;
    width: 0px;
    /* sticky effect */
    position: sticky;
    top: 5em; /* 1em + 2 * 1em padding of select + height of select */
}
.pub-list .year-mark-wrapper::before {
    /* Use the pseudo element to make the .year-mark-wrapper exactly the height of a line of text */
    content: "A";
    width: 0px;
    visibility: hidden;
}
.pub-list .year-mark {
    position: relative;
    left: -8px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    width: 10px;
    height: 10px;
    background: #C5C5C5;
    border: 2px solid #ffffff;
    border-radius: 10px;
    z-index: 2;
}

.pub-list .year-mark::before {
    content: attr(data-year);
    font-size: 1rem;
    font-weight: bold;

    margin-right: 1em;
}
@media (min-width: 62em) {
    .pub-list .year-mark::before {
        font-size: 1.1rem;
    }
}

/* The styling of the list */
.pub-list section.year ul {
    padding: 0 0 0 2em;
    margin: 0em;
    font-size: 1em;
    width: 100%;
}
@media (min-width: 62em) {
    .pub-list section.year section ul {
        font-size: 1.1em;
        padding-left: 2.2em;
    }
}

.pub-list section.year ul li {
    list-style-type: none;
    padding: 1rem 0rem 1.25rem 0rem;
    border-bottom: 1px dashed #ccc;
}
.pub-list section.year ul li:first-child {
    padding-top: 0rem;
}
.pub-list section.year:last-child ul li:last-child {
    border-bottom: none;
}

/* The publication block */
.pub-block {
    text-align: left;
}
.pub-block .pub-title {
    font-weight: bold;
}
.pub-block .pub-authors,
.pub-block .pub-conference,
.pub-block .pub-links {
    font-size: 0.9em;
}
.pub-block .pub-conference {
    font-style: italic;
}
.pub-block .pub-conference .pub-conference-acceptance {
    font-style: normal;
}

.pub-block .pub-abstract-frame {
    height: 0px;
    overflow: hidden;
    /*
     * Emulate velocity's default swing curve
     * see https://stackoverflow.com/a/9245729/2441376
     */
    transition: height 0.4s cubic-bezier(.02, .01, .47, 1);
}
.pub-block .pub-abstract {
    padding: 1em 0em;
    text-align: justify;
}
.pub-block .pub-abstract p:last-child {
    margin-bottom: 0px;
}

.pub-block .pub-author.pub-highlight {
    /* Highlight authors */
    font-weight: bold;
}

/* Filter */
.filter-hide {
    display: none !important;
}

/* Adapt primer css to our theme */
.publist-search-panel .SelectMenu-modal {
    /* our theme is rectangular */
    border-radius: 0;
    /* we want the modal width to fit its content */
    width: auto;
}
.publist-search-panel .SelectMenu {
    min-width: 100%;
}
.publist-search-panel details {
    position: relative;
}
.publist-search-panel .SelectMenu-list--borderless .SelectMenu-divider:first-child {
    /* Do not show duplicate top border */
    border-top: 0;
}
.publist-search-panel .SelectMenu-divider[aria-checked=true] .SelectMenu-icon--check {
    /* Also show checked mark in divider */
    visibility: visible;
    transition: transform .12s cubic-bezier(0,0,.2,1),visibility 0s linear;
    transform: scale(1);
}
.publist-search-panel .SelectMenu-divider {
    /* Vertically center the checked mark in divider */
    display: flex;
    align-items: center;
    /* Our divider is also clickable */
    cursor: pointer;
}

.publist-search-panel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    padding: 1em 0em 0.5em 0em;
    margin-top: -1em;

    border-bottom: dashed 1px #ccc;

    position: sticky;
    top: 0px;

    background: white;
    z-index: 11;
}

.publist-search-panel .publist-filters-header {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    margin-left: 0.5em;
}

.publist-search-panel .publist-filters-header footer {
    align-self: center;
    font-size: small;
}

.publist-filters-header .publist-filters-header-hwrapper {
    /* same height as a detail, which is summary 1.5rem + border 2px * 2 */
    height: calc(1.5rem + 4px);
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.publist-filters-header h4 {
    margin: 0px;
    padding: 0px;
}

.publist-search-panel .publist-filters-row {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;

    /* absorbe deuplicated margin in rows */
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

.publist-search-panel details {
    margin: 0.5rem;
}

.publist-search-panel details > summary[aria-haspopup=true] {
    display: flex;
    align-items: center;
    cursor: pointer;

    /* control the height, align with filter title header */
    height: 1.5rem;
    outline: none;
}

.publist-search-panel details summary span {
    white-space: nowrap;
}

.publist-search-panel [role="menuitem"] {
    white-space: nowrap;
}

.publist-search-panel .SelectMenu-item .Counter {
    margin-left: auto;
}

/* The animated arrow */
.publist-search-panel .dropdown-caret {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    position: relative;
    margin-left: 10px;
}

.publist-search-panel .dropdown-caret::before {
    top: .6rem;
    position: absolute;
    width: .75rem;
    height: .1rem;
    background-color: var(--btn-default-border-color);
    display: inline-block;
    transition: all .2s ease;

    content: '';
    left: 0;
    transform: rotate(45deg);
}
.publist-search-panel .dropdown-caret::after {
    top: .6rem;
    position: absolute;
    width: .75rem;
    height: .1rem;
    background-color: var(--btn-default-border-color);
    display: inline-block;
    transition: all .2s ease;
    
    content: '';
    right: 0;
    transform: rotate(-45deg);
}

.publist-search-panel details[open] .dropdown-caret::before {
    transform: rotate(-45deg);
}
.publist-search-panel details[open] .dropdown-caret::after {
    transform: rotate(45deg);
}
